/* 号番号の括弧付き数字での箇条書き */
body>ol>li>ol>li,
.markdown-body>ol>li>ol>li {
    list-style-type: none;
    counter-increment: cnt;
    position: relative;
}

body>ol>li>ol>li::before,
.markdown-body>ol>li>ol>li::before {
    content: '(' counter(cnt) ') ';
    display: inline-block;
    margin-left: -2.5em;
    width: 2em;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}

body>ol>li>ol>li>ol>li,
.markdown-body>ol>li>ol>li>ol>li {
    list-style-type: lower-roman;
}

body ul li,
.markdown-body ul li {
    list-style-type: none;
}

body>ol>li>ol>li>div.MathJax_Display,
.markdown-body>ol>li>ol>li>div.MathJax_Display {
    padding-left: 0em;
}

body>ol>li>div.MathJax_Display,
.markdown-body>ol>li>div.MathJax_Display {
    padding-left: 3em;
}
